@keyframes pageTransTop {
    from {
        transform: translateY(700px);
    }
    to {
        transform: translateY(-700px);
    }
}
@keyframes pageTransBottom {
    from {
        transform: translateY(-700px);
    }

    to {
        transform: translateY(700px);
    }
}

.trans1 {
    z-index: 999999;
    background-color: dimgray;
    top: -700px;
    height: 90vh;
    width: fit-content;
}

body, html {
    background-color: black;
    color: black;
    overflow: hidden;
    z-index: -9999999;
}

#loaded {
    color:aliceblue;
    font-family: 'Gasoek One';
    font-size: 38px;
    text-align: center;
}

#start {
    margin-top: 250px;
    color:whitesmoke;
    size: 32px;
    padding: 30px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 46px;
    background-color: black;
    border-color: aliceblue;
}

#setBut {
    position: absolute;
    top: 0px;
    left: 0px;
}