@keyframes pageTransTop {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes pageTransBottom {
    0% {
        transform: translateY(-100%);
    }

    25% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#topT {
    top: 100%;
    animation-name: 'pageTransTop';
}

#botT {
    bottom: 100%;
    animation-name: 'pageTransBottom';
}

.trans1 {
    position: absolute;
    z-index: 999999999;
    background-color: dimgray;
    height: 40vh;
    width: 100%;
    animation-duration: 6s;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

body, html {
    background-color: black;
    color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    z-index: -9999999;
}



.contBut:hover {
    background-color: beige;
    color: black;
    border-color: grey;
}

#loaded {
    color:aliceblue;
    font-family: 'Gasoek One';
    font-size: 38px;
    text-align: center;
}

#start {
    margin-top: 250px;
    color:whitesmoke;
    size: 32px;
    padding: 30px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 46px;
    background-color: black;
    border-color: aliceblue;
}

#setBut {
    position: absolute;
    top: 0px;
    left: 0px;
}