@keyframes splashInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1.00;
    }

    100% {
        opacity: 0;
    }
}

#splashText {
    z-index: 2000;
    position: absolute;
    width: auto;
    animation-name: 'splashInOut';
    animation-duration: 3s;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    color: aliceblue;
    font-size: 32px;
}

@keyframes pageTransTop {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-100%);
    }

    75% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(50%);
    }
}

@keyframes pageTransBottom {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-50%);
    }
}

#topT {
    top: 100%;
    animation-name: 'pageTransTop';
}

#botT {
    bottom: 100%;
    animation-name: 'pageTransBottom';
}

.trans1 {
    position: absolute;
    z-index: 1000;
    background-color: darkslategrey;
    height: 50vh;
    width: 100%;
    animation-duration: 6s;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

body,
html {
    background-color: black;
    color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    z-index: -9999999;
}



#setBut:hover {
    background-color: beige;
    color: black;
    border-color: grey;
}

#loaded {
    display:flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Gasoek One';
    font-size: 38px;
}

#gameTitle {
    flex: 2 0;
}

#start {
    margin-top: 500px;
    position: absolute;
    color: whitesmoke;
    size: 32px;
    padding: 30px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 46px;
    background-color: black;
    border-color: aliceblue;
}

#setBut {
    top: 0px;
    left: 0px;
}


/*FlexBox*/
