body, html {
    background-color: black;
    color: black;
    overflow: hidden;
    z-index: -9999999;
}

#gameTitle {
    color:aliceblue;
    font:bolder;
    font-family: 'Gasoek+One';
    font-size: 48px;
}