body, html {
    background-color: black;
    color: black;
    overflow: hidden;
    z-index: -9999999;
}

#Loaded {
    color:aliceblue;
    font-family: 'Gasoek One';
    font-size: 38px;
    text-align: center;
}

#start {
    color:whitesmoke;
    size: 26px;
    padding: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 46px;
    background-color: black;
    border-color: aliceblue;
}